.arrange {width: 100%;}
.arrange .block_h1_top {background: url("../img/bg_top.gif") no-repeat scroll 0 0 transparent;float: left;height: 10px;width: 800px;}
.sysmgr .block_h1_bottom, .arrange .block_h1_bottom {background: url("../img/b6.gif") no-repeat scroll 10px 0 transparent;float: left;width: 747px;margin-top: -2px;padding: 5px 5px 5px 45px;border: 1px solid #D5D5D5;border-top: none;font-size: 14px;font-weight: bold;}
.sysmgr .block_h1_content, .arrange .block_h1_content {float: left;width: 797px;min-height: 480px;_height: 480px;border: 1px solid #D5D5D5;border-top: none;}
table {border-spacing: 0;border-collapse: collapse;background-color: transparent;}
ul, li, td, tr, table {margin: 0px;padding: 0px;list-style: none;}
.arrange .arr_table {line-height: 22px;margin-left: 50px;margin-top: 30px;font-size: 14px;}
.arrange .arr_table .line_height_1 {line-height: 28px;}
.arrange table th {text-align: right;font-weight: normal;}
b {font-weight: normal;}
.keyClass {color: #FF0000;font-family: SimSun;font-size: 14px;margin-right: 3px;}
select, input, textarea {font-size: 12px;line-height: 1.2em;}
.sysmgr .inputBox, .arrange .inputBox {width: 170px;padding: 3px 0px;font-size: 14px;border: 1px solid #A6C9E2;}
.hide {display: none !important;}
.import, .warn, .wrong {font-size: 12px;padding-left: 20px;padding-top: 2px;text-align: left;}
.wrong, .warn {background: url("../img/share_icon.png") no-repeat scroll 0 -2px transparent;}
.wrong {background-position: 0 -174px;}
.arrange .inputDate {width: 170px;padding: 0px;font-size: 14px;border: 1px solid #A6C9E2;}
.input_radio_check {border: 0px;}
input[type="checkbox"], input[type="radio"] {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;}
input[type="radio"], input[type="checkbox"] {margin: 4px 0 0;margin-top: 1px \9;line-height: normal;}
input[type=radio], input[type=checkbox] {border: 0px none;vertical-align: middle;}
.arrange input[type=radio], .arrange input[type=checkbox] {vertical-align: middle;}
.contact .formClass .item input, label {vertical-align: middle;}
.topalgin {vertical-align: text-top;}
.btn_sytle {background: url("../img/bgImg.gif") repeat-x scroll 0 0 transparent;border-radius: 5px;border: 0 none;color: #FFFFFF;cursor: pointer;display: inline-block;font-family: 'microsoft yahei';font-size: 14px;font-weight: bold;line-height: 20px;overflow: hidden;padding: 3px 15px 2px 15px !important;padding: 0px 8px 2px 6px;margin-right: 3px;vertical-align: middle;}
.pstnhnumtip {line-height: 22px;color: #999999;font-size: 12px;}
.arrange .chkbox_label {padding-left: 2px;}
.serachOrder input, img, label {vertical-align: middle;}
img {border-style: none;}
.arrange .title-obj {background-color: #D6E3FD;border-bottom: 1px solid #D6D6D6;font-size: 14px;}
.hand {cursor: pointer;}
table#gbox_gridTable, table#gbox_gridTable th, table#gbox_gridTable td {border: 1px solid #D6D6D6;text-align: center;}
.arrange .invbtn {margin: 5px 0;height: 30px;}
.arrange .btn_style {background-color: #1556af;border-radius: 5px;border: 0 none;color: #FFFFFF;cursor: pointer;display: inline-block;font-family: 'microsoft yahei';font-size: 12px;float: left;overflow: hidden;line-height: 20px;padding: 3px 2px 2px 18px !important;padding: 0 0 2px 13px;vertical-align: middle;margin-right: 3px;}
.arrange .btn_sel_host {font-size: 12px;padding: 3px 5px 1px!important;padding: 0px 5px 2px 4px;line-height: 16px;margin-left: 5px;}
.arrange .addContactFrm {background: url("../img/bg1.gif") no-repeat scroll -1px -3px transparent;width: 105px !important;}
.arrange .addContactk {background: url("../img/bg2.gif") no-repeat scroll -1px -4px transparent;width: 80px !important;}
.arrange .deleteAll {background: url("../img/bg4.gif") no-repeat scroll -1px -4px transparent;width: 80px !important;}
hr {margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #eee;}
.sysmgr .btn_submit, .arrange .btn_submit {background: url("../img/ButtonT-135-208.png") no-repeat scroll 0 0 transparent;border: medium none;color: #FFFFFF;cursor: pointer;display: inline-block;font-size: 14px;font-weight: bold;height: 26px;line-height: 26px;overflow: hidden;padding: 0;text-align: center;width: 86px;}
.sysmgr .btn_submit, .arrange .btn_submit {background: url("../img/ButtonT-135-208.png") no-repeat scroll 0 0 transparent;border: medium none;color: #FFFFFF;cursor: pointer;display: inline-block;font-size: 14px;font-weight: bold;height: 26px;line-height: 26px;overflow: hidden;padding: 0;text-align: center;width: 86px;}
.confhide {display: none;}
.arrange .addInv {background: #EEEEEE;margin: 5px 0px;padding: 5px 0px;}
.arrange .inputtext {font-size: 12px;}
.arrange .addInv .teltxttip {font-size: 12px;font-family: arial,tahoma;color: #999999;}
.arrange .highlight{border:1px solid #FF0000;color:#FF0000;outline: 1px solid #FFC1C1;} 
table#gbox_gridTable th{text-align: center;}
.arrange .error, .arrange .null {color: red;line-height: 20px;}
.arr_table input[type=radio]{margin-bottom: 5px;}
.arrange .selectBox{padding: 3px 0px;font-size: 14px;border: 1px solid #A6C9E2;}
.pstnhosttip{text-align: center;}
.pstnhost {margin:0 auto;border: 1px solid #A6C9E2;width: 280px;height: 300px;overflow-y: scroll;overflow-x: auto;}
.srcInvitee {float: left;margin-left: 80px;}
.selInvitee {float: right;margin-right: 80px;}
.inviteeBtn {float: left;margin: 12px;margin-top: 50px;}
.inviteeTree {float: left;margin:5px 20px;border: 1px solid #A6C9E2;width: 300px;height: 300px;overflow-y: scroll;overflow-x: auto;}
.hide {display: none !important;}
.selectedTree {float: right;margin-right: 20px;border: 1px solid #A6C9E2;width: 200px;height: 300px;overflow-y: scroll;overflow-x: auto;}
.btn_style,.update_btn {background-color: #1556af;border-radius: 5px;border: 0 none;color: #FFFFFF;cursor: pointer;display: inline-block;font-family: 'microsoft yahei';font-size: 12px;overflow: hidden;line-height: 20px;padding: 3px 10px !important;padding: 0 0 2px 13px;vertical-align: middle;margin-right: 3px;}
.btn_remove{/* position: relative;top: 1px; */border: none;width: 15px;background-color: transparent;background-image: url(../img/zTreeStandard.png);background-repeat: no-repeat;background-position: -110px -66px;position: relative;top:-3px;}
.intervalTxt{width: 30px;}