@IMPORT url("/css/retrieve_common.css");
.grid-780{padding: 20px 0 0 90px;height: 68px;}
.fn-clear{zoom:1;}
ol,ul{list-style: none outside none;}
.ui-roundstep-orange{background-repeat: repeat-x;background-position: 0 -735px;background-image: url("/img/step-header.png");}
.ui-roundstep{width: 780px;height: 80px;overflow: hidden;}
.ui-roundstep-3 li{padding: 0 20px 0 75px;}
.ui-roundstep li{float: left;width: 150px;}
ul,li{margin: 0;list-style: none;}
.ui-roundstep-orange .ui-roundstep-finish em{background-position: 5px 13px;}
.ui-roundstep em{color: #fff;font-size: 18px;font-style: normal;font-weight: 600;line-height: 58px;text-align: center;background-color: #f9f9f9;height: 57px;display: block;margin-left: 50px;position: relative;width: 45px;}
.ui-roundstep-current em,.ui-roundstep-success em,.ui-roundstep-finish em{background-image: url("/img/step-header.png");background-repeat: no-repeat;}
.ui-roundstep span{font-size: 14px;color: #999;display: block;width: 150px;text-align: center;}
.ui-roundstep-orange .ui-roundstep-current em{background-position: -139px -84px;}
.ui-roundstep .ui-roundstep-current span{color: #626262;}
.ui-roundstep-3 strong{width: 202px;}
.ui-roundstep-3 .ui-roundstep-first strong{width: 127px;}
.ui-roundstep strong{background: #fe9d00;display: block;height: 3px;position: absolute;right: 43px;top:29px;overflow: hidden;}
.ui-roundstep .ui-roundstep-success em{background-position: -370px -277px;}
.part3 .cont-position{padding: 0 0 0 108px;}
.part3 .showGroupMsg{display: inline;float: left;margin: 20px 200px 30px 180px !important;border: 1px solid #C8C8C8;padding: 15px 80px;font-size: 14px;overflow: hidden;}
.part3 .showUserForm{float:left;padding-left: 80px;font-size: 16px;}
.main_form{padding: 10px 0;}
.part3 .main_form .ie-Item{width: 505px;}
.part3 .main_form .item{height: 50px;line-height: 22px;padding-top: 1px;}
.part3 .main_form li{clear:left;line-height: 100%;padding: 0;}
.part3 .main_form .fps_left{float:left;padding-left: 5px;text-align: right;width: 130px;color:#4d4d4d;}
.part3 .main_form .labtitle{font-size: 14px;}
.part3 .main_form .required{color: #FF0000;font-family: SimSun;font-size: 14px;margin-right: 6px;}
.part3 .main_form .fps_right{float: left;}
.icon_orderly{background: url("/img/pwdstrength.gif") no-repeat scroll -105px 0 transparent;display: inline-block;font-size: 0;height: 16px;line-height: 0;vertical-align: middle;width: 16px;margin-left: 2px;}
.addConTip{color: #999999;font-size: 12px;line-height: 22px;}
.part3 .main_form .text{border: 1px solid #BBBBBB;font-family: arial;font-size: 14px;height: 16px;padding: 4px 3px;width: 240px;}
.part3 .main_form input,label{vertical-align: middle;}
.part3 .showGroupBtn{float:left;clear:left;padding: 15px 0 40px 216px;}
.part3 .pbtn_graylong{background: url("/img/ButtonT-135-208.png") no-repeat scroll 0 -130px transparent;border: medium none;color: #000;cursor: pointer;display: inline-block;font-size: 12px;font-weight: normal;height: 26px;line-height: 26px;overflow: hidden;padding: 0;text-align: center;width: 116px;}
.part3 .main_form .highlight1{border:1px solid #EFA100;outline: 2px solid #FFDC97;}
.part3 .main_form .highlight2{border: 1px solid #FF0000;color: #FF0000;outline: 1px solid #FFC1C1;}
.error{background: url("/img/errIcon.png") no-repeat scroll -3px 0 transparent;color: red;font-family: Verdana;line-height: 22px;font-size: 12px;padding-left: 18px;}
.addConTip{color: #999999;font-size: 12px;line-height: 22px;}